@import "tailwindcss";

@theme {
  /* --font-roboto-mono: "Roboto Mono", monospace; */
  --font-sofia: "Sofia Sans Condensed", sans-serif;
  --font-spline: "Spline Sans Mono", monospace;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

/* Override browser autofill default styles (avoid white background/dark text) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #F7F7F7 !important;
  -webkit-box-shadow: 0 0 0px 1000px #151515 inset !important;
  box-shadow: 0 0 0px 1000px #151515 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Lightbox animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}