@import "tailwindcss";

@theme {
  /* --font-roboto-mono: "Roboto Mono", monospace; */
  --font-sofia: "Sofia Sans Condensed", sans-serif;
  --font-spline: "Spline Sans Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}